@import url(../login/login.component.scss);
.cursor{
  cursor: pointer;
}
.title{
  position: absolute;
  padding: 10px;
  font-size: 25px;
  margin: 8em 20px 10px 4em;
  display: inline-block;
}

.form{
  padding: 10px;
}
