<div class="login-register login-sidebar" style="background-image:url(../assets/images/background/login-register.jpg);">

  <div class="login-box">
    <div class="card">
      <a href="javascript:void(0)"><img src="../assets/images/logo-icon.png" alt="Home" /><br /><img
          src="../assets/images/logo-text.png" alt="Home" /></a>
      <h3>Registrese ahora!</h3><span>Crear una cuenta</span>
      <form class="loginForm" [formGroup]="registerForm" (ngSubmit)="crearUsuario()" class="form">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password">
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Confirmar Contraseña</mat-label>
            <input matInput formControlName="password2" type="password">
          </mat-form-field>

          <div style="text-align: center; margin: 10px;">
            <button mat-raised-button color="primary" type="submit">
              Registrarse
            </button>
          </div>
          <div>
            Already have an account? <a routerLink="/login" class="cursor"><strong>Iniciar Sesión</strong></a>
          </div>
      </form>
    </div>
  </div>
</div>
